#root{
  z-index: -1;
  position: absolute;
  width:100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color:grey;
  width: 70%;
  margin: 20px;
}
header{
  background-color: rgb(255, 102, 0);
  color: black;
  font-weight: bold;
  align-self: normal;
  width: 70%;
}
.newsfeedrow{
  display: flex;
  flex-direction: column;
}
.upperRow{
  display: flex;
}
.upperRow .title{
  color:black;
}
.bottomRow{
  display: flex;
  position: relative;
  left: 25px;
}
.upvotePointer{
  border-bottom-width: 10px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-width: 0;
  border-top-style: solid;
  border-bottom-color: grey;
  border-left-color: transparent;
  border-right-color: transparent;
  align-self: center;
}
.pagination{
  align-self: baseline;
}
span{
  margin:2px;
}